.template {
  .breadcrumbs {
    padding-left: 0 !important;
    ul {
      padding-left: 0 !important;
      list-style: none;
      display: flex;
      li {
        margin: 0 5px;
        a {
          color: rgb(77, 77, 75);
          &::after {
            content: "/";
          }
        }
        &:last-child {
          a {
            &::after {
              content: "";
            }
          }
        }
      }
    }
  }
}
