
.hero{
    background-color: white;
    padding-bottom:50px;
    
    .hero-container{

        padding-top : 150px;
        display: flex !important;
        flex-direction : column !important;
        justify-content: center !important;
        align-items: center !important;
        h1,p{
            z-index: 2;
        }
        .search{
            .search-btn{
                &:hover{
                    background-color:var(--bs-primary) ;
                }
            }
            z-index: 2;
            width: 50vw;
            max-width:100vw !important;
            margin: 0 auto;
        }
        .search-div{
            width: 50vw;
            margin: 0 auto;

            .list{
                list-style: none;
                display: flex;            
                padding-left:0 !important;
            }
            .list li{
                margin:0 5px
            }
            .list li:not(:first-child):hover{
                cursor: pointer;
                color: #e6c200
            }
            .btn-empty{
                background-color: none !important;
                border-color:none !important;
                outline:none;
                padding:0 !important;
            }
            .btn:focus{
                outline:none;
                box-shadow: none !important;
            }
        }
        .smaller{
            font-size: .6em;
        }
    }
}

.white{
    color: #fff !important;
}
@media (max-width: 769px){
    .search{
        width: 70vw !important;
    }
    .search-div{
        width: 70vw !important
    }

}
@media (max-width: 576px){
    .hero-container .container{
        width: 100vw !important;
        padding: 0  !important
    }
    .search{
        width: 90vw !important;
        input{
            padding-left:1px !important;
            font-size:.7em;
        }
    }
    .search-div{
        width: 90vw !important;
        // margin: 0 !important;
        .list li{            
        font-size: smaller;
        }
        .btn{
            
        font-size: smaller;
        }
    }

}