.filter-bar {
    .search {
        input {
            border: none;
            border-bottom: 2px solid gray;
            border-radius: 0;
            height: 60px;
            &:focus{
                outline: none;
            }
        }
    }


}
