.filter{
    margin-top: 10px;
    display: flex;
    align-items: center;
    .bs-chev{
        font-size:12px;
        font-weight: 800;
    }
    .dropdown-menu{
        width : 200px;
    }
    .dropdown-toggle{
        font-size : 14px;
        font-weight: bold;
        // border: 1px solid rgb(201, 191, 191);
        // border-radius: 100px;
    }
    .dropdown-toggle::after{
        display: none;
    }
    .search-wrapper{
        margin-inline: 20px;
        margin-top : 10px;
    }
    .category-wrapper{
        padding : 10px;
        
        
        .title-wrapper{
            display: flex;
            justify-content: space-between;
            position: relative;

            &::after{
                content: "";
                background-color: transparent;
                position: absolute;
                top : 0;
                bottom : 0;
                left: 0;
                right: 0;
                z-index: 101;
            }
            .rotate
            {
                transform: rotate(45deg) !important;
            }
           
        }
        .item{
            display: flex;
            align-items: center;
            &.collapsed
            {
                display:none;
            }
            input{
                margin: 0;
                padding: 0
            }
            p{
                line-height: 0;
                padding-inline: 10px;
                margin-bottom : 0px !important;
                padding-bottom: 0px !important;
            }
        }
    }
    .btn:focus{
        box-shadow: none !important;
        background-color: none
    }
}