.filter{
    
    margin-top: 10px;
    .bs-chev{
        font-size:10px;
    }
    .dropdown-menu{
        width : 300px;
    }
    .dropdown-toggle{
        font-size : 12px;
        font-weight: bold;
        border: 1px solid rgb(201, 191, 191);
        border-radius: 100px !important;
    }
    .dropdown-toggle::after{
        display: none;
    }
    .search-wrapper{
        margin-inline: 20px;
        margin-top : 10px;
    }
    .category-wrapper{
        padding : 10px;
        
        .title-wrapper{

            display: flex;
            justify-content: space-between;
            position: relative;

            &::after{
                content: "";
                background-color: transparent;
                position: absolute;
                top : 0;
                bottom : 0;
                left: 0;
                right: 0;
                z-index: 101;
            }
            .rotate
            {
                transform: rotate(45deg) !important;
            }
           
        }
        .item{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            margin-block: 10px;
            &.collapsed
            {
                display:none;
            }
            input{
                margin: 0;
                padding: 0
            }
            p{
                line-height: 0;
                padding-inline: 10px;
                margin-bottom : 0px !important;
                padding-bottom: 0px !important;
            }
            
        }
    }
    .btn{
        font-size: 13px !important;
        padding: 7px 12px;
        border-radius: 15px !important;
    }
    .btn:focus{
        box-shadow: none !important;
        background-color: rgb(214, 208, 208);
    }
}

.subs-container{
    max-height: 150px;

    &::-webkit-scrollbar {
        width: 2px;
        height: 100%;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}