.social-links{
    ul{
        display: flex !important;
        list-style-type: none;
        gap : 1rem;
        justify-content: flex-start;
        a{
            text-decoration: none;
            color : white;
            &:hover {
                color : var(--bs-primary)
            }
        }
    }
}